@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

.nav-extended .nav-wrapper .brand-logo {
    bottom: 0;
    top: 0;
}

.nav-extended .nav-wrapper .brand-logo img {
    height: 64px;
}

@media (max-width: 600px) {
    .nav-extended .nav-wrapper .brand-logo img {
        height: 55px;
    }
}

#product-details {
    line-height: 40px;
}

.flashes h4 {
    font-family: 'Nunito Sans';
}
