{% extends "base.html" %}
{% import "macros.j2" as macros %} 
{% block content %} 

    <h3 class="center-align">Add Product <strong><i>{{ session.role }}</i></strong> Details</h3>

    <h4><i class="material-icons">credit_card</i> Commercial Details</h4>

    {% if product %} 

        {% if session.role != "Commercial" and session.role != "Admin" %}

            <div class="row" id="product-details">

                {% for field, value in product.items() %}

                    {% if field != "_id" and value is not mapping %} 
                        <div class="col s12 m6 row">
                            <div class="col s4">
                                <strong>{{ field.replace("_", " ").title() }}</strong>
                            </div>
                            <div class="col s8">
                                <!-- check if value is list or string -->
                                {% if value is iterable and (value is not string and value is not mapping) %}
                                    {{ ", ".join(value) }}
                                {% else %} 
                                    {{ value }}
                                {% endif %} 
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}

            </div>
        
        {% else %}

            <form action="{{ url_for('add_product_details', product_id=product._id) }}" method="post">
                <div class="row">
                    
                    {{ macros.form_builder(field_list[(session.role.lower())+"_details"], product) }}

                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button class="btn-large green accent-3 center-align">
                            <i class="material-icons right">check</i> Submit
                        </button>
                        <a href="{{ url_for('view_product', product_id=product._id) }}" class="btn-large red accent-3 center-align">
                            <i class="material-icons right">cancel</i> Cancel
                        </a>
                    </div>
                </div>
            </form>

        {% endif %}

    {% endif %}

    <hr>
    
    {% for role in roles %} 
        {# We want to show the details for the roles that the user is not adding/editing currently #}
        {% if role.role_name != session.role %} 

            <h4><i class="material-icons">card_giftcard</i> {{ role.role_name }} Details</h4>

            {% if product[role.role_name.lower()] %} 

                <div class="row">

                    {% for field, value in product[role.role_name.lower()].items() %} 

                        <div class="col s12 m6 row">
                            <div class="col s4">
                                <strong>{{ field.replace("_", " ").title() }}</strong>
                            </div>
                            <div class="col s8">
                                {% if value is iterable and (value is not string and value is not mapping) %}
                                    {{ ", ".join(value) }}
                                {% else %}  
                                    {{ value }}
                                {% endif %} 
                            </div>
                        </div>

                    {% endfor %}

                </div>

            {% else %} 

                <h5 class="center-align">No {{ role.role_name }} Details Submitted Yet</h5>

            {% endif %}

            <hr>

        {% endif %}

    {% endfor %}

    {% if session.role != "Commercial" and session.role != "Admin" %} 

        <h4><i class="material-icons">card_giftcard</i> {{ session.role }} Details</h4>
        <!-- create form element -->
        <form action="{{ url_for('add_product_details', product_id=product._id) }}" method="post">
            <div class="row">
                {% for field in field_list[(session.role.lower())+"_details"] %}
                    {# build form elements from field_list #}
                    {% if (session.role.lower()) in product %}
                        {# check if the product object already has an attribute for the field and if it does, 
                            set it as the value for the element #}
                        {% if field.field_name in product[(session.role.lower())] %}
                            {% set value = product[(session.role.lower())][field.field_name] %}
                        {% else %} 
                            {% set value = "" %} 
                        {% endif %}
                    {% else %} 
                        {% set value = "" %}
                    {% endif %}

                    {% if field.field_type == "input" %} 

                        <div class="input-field col s12 m6">
                            <input type="{{ field.input_type }}" class="validate" name="{{ field.field_name }}" id="{{ field.field_name }}" value="{{ value }}" required>
                            <label for="{{ field.field_name }}">{{ field.field_name.replace("_", " ").title() }}</label>
                        </div>

                    {% elif field.field_type == "date" %}

                        <div class="input-field col s12 m6">
                            <input type="text" class="datepicker validate" name="{{ field.field_name }}" id="{{ field.field_name }}" required>
                            <label for="{{ field.field_name }}">{{ field.field_name.replace("_", " ").title() }}</label>
                        </div>
                    {% endfor %}
                {% else %}
                    {{ macros.form_builder(field_list[(session.role.lower())+"_details"], product) }}
                {% endif %}
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-large green accent-3 center-align">
                        <i class="material-icons right">check</i> Submit
                    </button>
                </div>
            </div>
        </form>

    {% endif %}
    


{% endblock %}