{% extends "base.html" %} 
{% block content %} 

    <h3 class="center-align">My Tasks</h3>

    <h5>The Following Products Require <strong><i>{{ session.role }}</i></strong> Details</h5>

    <hr>

    <table class="highlight responsive-table">
        {# Table built very much like table in upcoming products view #}
        <thead>

    <hr>

    {{ macros.table_builder(products, context="pending") }}

{% endblock %}
{% block scripts %} 
    <script src="{{ url_for('static', filename='js/my_tasks.js') }}"></script>
{% endblock %}