{% extends "base.html" %} 
{% block content %} 

    <h3 class="center-align">Product Details</h3>

    <h4><i class="material-icons">credit_card</i> Commercial Details</h4>

    {% if product %} 

        <div class="row" id="product-details">

            {% for field, value in product.items() %}

                {% if field != "_id" %} 
                    <div class="col s12 m6 row">
                        <div class="col s4">
                            <strong>{{ field.replace("_", " ").title() }}</strong>
                            {% if {"role_name": field.capitalize()} in roles  if not any %} 
                                TRUE
                            {% endif %}
                        </div>
                        <div class="col s8">
                            <!-- check if value is list or string -->
                            {% if value is iterable and (value is not string and value is not mapping) %}
                                {{ ", ".join(value) }}
                            {% else %} 
                                {{ value }}
                            {% endif %} 
                        </div>
                    </div>
                {% endif %}

            {% endfor %}

        </div>

    {% endif %}

    <hr>

    <h4><i class="material-icons">card_giftcard</i> Packaging Details</h4>

{% endblock %}